[tool.black]
line-length = 120
include = '\.pyi?$'

[tool.isort]
profile = 'black'
line_length = 120
multi_line_output = 3
include_trailing_comma = true
float_to_top = true

[build-system]
requires = ["setuptools<64", "wheel"]
