[tool.black]
line-length = 120
include = '\.pyi?$'

[tool.ruff]
# Adds to default excludes: https://ruff.rs/docs/settings/#exclude
extend-exclude = [
    "django-source",
    "stubgen",
    "out",
]
line-length = 120
target-version = "py38"
select = [
    "I",    # isort
]

[tool.ruff.isort]
split-on-trailing-comma = false

[build-system]
requires = ["setuptools<64", "wheel"]
