# Dev tools:
pytest==8.3.5
pytest-mypy-plugins==3.2.0
pytest-shard==0.1.2
pytest-xdist==3.6.1

# Django deps:
psycopg2-binary
Django==5.2.0
-e ./ext
-e .[redis,compatible-mypy,oracle]

# Overrides:
mypy==1.15.0
pyright==1.1.400
