# Dev tools:
black==23.9.1
pre-commit==3.4.0
pytest==7.4.2
pytest-mypy-plugins==3.0.0
pytest-shard==0.1.2

# Django deps:
psycopg2-binary
Django==4.2.5
-e ./ext
-e .[compatible-mypy]

# Overrides:
mypy==1.5.1
